body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #ff6347;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo img {
    max-width: 150px; /* Ograniczenie szerokości */
    max-height: 80px; /* Ograniczenie wysokości */
    height: auto; /* Zachowanie proporcji */
    width: auto;
    display: block;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Odstęp między elementami */
    padding: 10px;
}
